@model FindU.Infra.Data.Identity.Models.ApplicationUser

<form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm">
	<ul class="nav navbar-nav">
		<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">@Model.UserName</a>
			<ul class="dropdown-menu">
				<li>
					<a asp-controller="Manage" asp-action="Index" title="Configurações">
						<span class="glyphicon glyphicon-cog"></span>
						Configurações
					</a>
				</li>
				<li>
					<a>
						<span class="glyphicon glyphicon-log-out"></span>
						<button type="submit" class="remove-button-css" title="Sair">Sair</button>
					</a>
				</li>
			</ul>
		</li>
	</ul>
</form>