@{
	ViewData["Title"] = "Fim do rolé";
}

<h2>@ViewData["Title"]</h2>
<h4>Que pena, parece que todos os seus possíveis pares já foram exibidos. Tente novamente mais tarde.</h4>

<div class="row top-buffer">
	<div class="col-md-4">
		<a asp-controller="Estudante" asp-action="Roll" class="btn btn-default" role="button">Começar novamente</a>
	</div>
</div>