@using FindU.Infra.Data.Identity.Configuration
@inject ApplicationSignInManager SignInManager

@{
	ViewData["Title"] = "Home Page";
	var facebookLoginProvider = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Single(x => x.Name == "Facebook");
}

<div class="row">
	<div class="col-md-5 col-centered">
		<img src="~/images/logo.png" alt="logo"/>
	</div>
</div>

<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-8">
		<h2 style="text-align: center">Sem tempo e querendo conhecer pessoas da UFBA?</h2>
		<p style="text-align: center">
			O FindU é a sua plataforma para encontrar pessoas pertinho de você,
			aquela crush que você viu na biblioteca, mas teve vergonha de ir falar, ou aquele boy do RU que
			nem os aviãozinhos souberem te dizer quem era.
			Procurando alguém para descolar umas aulas de monitoria? O céu, ou melhor, o FindU é o limite!
		</p>
	</div>
	<div class="col-md-2"></div>
</div>

<div class="row top-buffer">
	<div class="col-md-3 col-centered">
		<form asp-controller="Account" asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
			<button type="submit" class="btn btn-social btn-facebook center-block" name="provider" value="@facebookLoginProvider.Name" title="Entrar com o @facebookLoginProvider.Name">
				<i class="fab fa-facebook"></i>
				Entrar com o @facebookLoginProvider.Name
			</button>
		</form>
	</div>
</div>
