body {
	padding-top: 50px;
	padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
	padding-left: 15px;
	padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
	font-size: 20px;
	line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
	width: 100%;
}

.top-buffer {
	margin-top: 20px;
}

.col-centered {
	float: none;
	margin: 0 auto;
}

.no-resize {
	resize: none;
}

/* QR code generator */
#qrCode {
	margin: 15px;
}

.heart {
	width: 100px;
	height: 100px;
	position: relative;
	left: 50%;
	/*top: 50%;*/
	margin-top: 35px;
	transform: translate(-50%, -50%);
	background: url(https://cssanimation.rocks/images/posts/steps/heart.png) no-repeat;
	background-position: 0 0;
	cursor: pointer;
	animation: fave-heart 1s steps(28);
}

	.heart:hover {
		background-position: -2800px 0;
		transition: background 1s steps(28);
	}

@keyframes fave-heart {
	0% {
		background-position: 0 0;
	}

	100% {
		background-position: -2800px 0;
	}
}


/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
	/* Hide captions */
	.carousel-caption {
		display: none;
	}
}
