@{
	ViewData["Title"] = "Usuário cadastrado com sucesso";
}

<h2>@ViewData["Title"]</h2>
<h4>Seja bem-vindo(a)! Para começar a brincadeira e conhecer o seu possível novo par, basta clicar no botão abaixo.</h4>

<div class="row top-buffer">
	<div class="col-md-4">
		<a asp-controller="Estudante" asp-action="Roll" class="btn btn-default" role="button">Começar</a>
	</div>
</div>